/**
* @jdd style
*/

html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;padding:0;}
img{border:0;vertical-align:middle;}
li{list-style:none;}
table{empty-cells:show;}
em{font-style:normal;}

abbr,article,aside,audio,canvas,datalist,details,dialog,eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,time,video{display:block;}

body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;background:#fff;color: #333;font-size:14px;line-height:1.8;}

@media screen and (max-width: 1000px) {
    /*body{font-size:100%;}*/
}

h1,h2,h3,h4,h5,h6{margin-top:20px;margin-bottom:10px;}
h1,.h1{font-size:32px;}
h2{font-size:22px;}
h3{font-size:18px;}
h4{font-size:16px;}
h5{font-size:14px;}
h6{font-size:12px;}

a{color:#2a6496;text-decoration:none;}
a:hover{color:#E4393C;text-decoration:underline;}

/* pre code */
code, pre, tt{font-family:Monaco, Consolas, "Lucida Console", monospace;font-size:0.857em;}
p code,
li code,
pre{background-color: #f9f9f9;border: 1px solid #e1e1e8;margin:1em 0;overflow:auto;padding:9px 14px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
pre pre{border:none;}
pre code{border:none; }
p code,li code{margin:1em 0;padding:1px 4px;}

/* common */
.clearfix:after{content:'';display:block;height:0;clear:both;}
.clearfix{zoom:1;}

/* layout */
.wrapper,.w{margin:0px auto;width:1000px;}
.api-w {
  margin-left: 243px;
}
@media screen and (max-width: 1000px) {
    .w{width:100%;}
    .wrapper{width:auto;padding:0 10px;}
}

.wrapper:after{content:'';display:block;height:0;clear:both;}
.wrapper{zoom:1;}
.main{float:left;}
.sidebar{float:left;width:110px;}

/* mdlist */
.mdlist{float:left;margin-right:30px;margin-top:35px;width:200px;border-right:1px solid #ddd;}
.mdlist li{border-bottom:1px solid #ddd;}
.mdlist li:last-child{border-bottom:none;}
.mdlist li a{display:block;padding:5px 0px 5px 10px;}
.mdlist li a:hover,
.mdlist .current a,
.mdlist .current a:hover{color:#E4393C;text-decoration:none;background-color:#f1f1f1;}
.mdlist li a:hover{color:#2a6496;background-color:#f9f9f9;}

/* md */
.md{float:left;width:760px;}
.md ul{padding-left:2em;}
.md ul li{list-style-type:disc;}
.md ul ul{padding-left:2em;}
.md h2{border-bottom:1px solid #eee;}

.md table{margin:15px 0; border-collapse: collapse;border-spacing: 0; width:100%;}
.md table th,
.md table td{border: 1px solid #ddd;padding: 3px 6px;}
.md table tr:nth-child(2n){background-color:#f9f9f9;}

/*header*/
.header{height: 45px;font-size:14px; line-height:1.5;  background-color:#282823; border-bottom:1px solid #080808; }
.header a{display:block; padding: 12px 30px 12px 0; color: #fff; color: #999}
.header a:hover, .header .current a{color: #fff; text-decoration:none; }
.header li{float:left;}

/* home-menu
.header .home-menu{padding:4px 20px 4px 0;}
.header .home-menu a{display:block;background:url(http://img13.360buyimg.com/da/jfs/t970/298/779904244/2569/f5832e25/55482dc7N5ba074ef.png) no-repeat;padding:0;width:32px;height:38px;text-indent:-9999em;} */

/*footer*/
.footer{margin-top:50px; padding:30px 0;color: #999;background-color:#F5F5F5; border-top:1px solid #E5E5E5; text-align:center;  }
.footer h3{margin:0;}
.footer h3 i{font-weight:normal;font-style:normal;font-size:14px;}
.footer h3 span{font-weight:normal;font-style:normal;font-size:14px;}

/*wrap*/
.nav{float:left;
width: 260px;margin-top:30px; }
.pageNav{padding:10px 20px;background-color:#f1f1f1;}
.pageNav li{padding-bottom: 10px;}
.contenter{float:left;width: 660px;}
.contenter .pageNav{margin:20px 0; }
.contenter .pageHeader{padding-bottom: 9px;margin: 40px 0 20px;border-bottom: 1px solid #eee;}

/* menu */
.menu{margin-bottom:5px;padding:10px;background: #fafafa;font-size:12px;}
.menu ul li{float:left;margin-right:10px;width:120px;line-height:25px;font-size:1.2em;}
.menu .demo{display:none;}
.menu .on{color: #E4393C;text-decoration: underline;}

/* sidebar */
.sidebar h3{margin-bottom:10px;padding-left:10px;padding-bottom:10px;border-bottom:1px solid #ddd;}
.sidebar .demoList{padding-left:10px;/*font-size:12px;*/}
.sidebar .demoList a{display:block;}
.sidebar .demoList .on{color: #E4393C;text-decoration: underline;}


/* 2014-11-11 */
#content{position:relative;}
#content .main{width:820px;overflow:hidden;}
@media screen and (max-width: 1000px) {
	#content .main{width:100%; margin-top: 15px;}
}
#content .rightbar{position:absolute;right:0;}
#content .extra{float:none;}

/* main */
.main .sourceCodeBox,
.main .demoIframe{float:left;padding:10px;border:1px solid #ddd;}

.sourceCodeBox{width: 820px;}
.sourceCodeBox h3{font-size:14px;color:#666;margin: 0;padding: 0;}
.sourceCodeBox #sourceCodeContent{font-family:Monaco, Consolas, "Lucida Console", monospace;font-size:12px;background-color:#fff;border:none;padding:0;margin:0;}
.sourceCodeBox .syntaxhighlighter table td.gutter .line{padding-left:0em!important}

.extra{float:left;display:block;margin-left:10px;}
.extra a{padding-right: 13px;background-position: center right;background-repeat: no-repeat;background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVElEQVR42n3PgQkAIAhEUXdqJ3dqJ3e6IoTPUSQcgj4EQ5IlUiLE0Jil3PECXhcHGBhZ8kg4hwxAu3MZeCGeyFnAXp4hqNQPnt7QL0nADpD6wHccLvnAKksq8iiaAAAAAElFTkSuQmCC);}

.seeCodeWrap{padding-top:10px;width:900px;}

/* gotop */
.gotop{float:right;padding-right: 35px;padding-top: 10px;}
.none {
  display: none;
}

/* 2016-12-1 */

hr{height:1px;border:0;padding:0;margin:35px 0 0 0;background:rgba(0,0,0,0.20);background:-moz-linear-gradient(left center, rgba(165, 69, 243, 0.0) rgba(165, 69, 243, 0.33) 50%, rgba(165, 69, 243, 0.0));background:-webkit-gradient(linear, left top, right top, from(rgba(165, 69, 243, 0.0)), color-stop(0.5, rgba(165, 69, 243, 0.33)), to(rgba(165, 69, 243, 0.0)));}

@media screen and (max-width: 750px) and (min-width: 320px) {
    body {
      max-width: 750px;
      min-width: 320px;
      width: 100%;
    }
    .header {
      display: block;
      position: relative;
      z-index: 10001;
      padding-left:0px!important;
    }
    .header li {
      width: 100%;
      background-color: #282823;
      margin-top: 0;
      height: 45px;
      line-height: 45px;
    }
    .header li a {
      height: 45px;
      line-height: 45px;
      padding: 0 0 0 15px;
      color: #999;
    }
    .header-bar {
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
    }
    .header-bar .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color: #fff;
      margin-top: 4px;
    }
    .navbar-collapse {
      display: none;
      position: absolute;
      width: 100%;
      top: 45px;
    }
    .home-menu a {
      width: 20%;
      color: #fff!important;
      font-size: 16px;
    }
    .header ul {
      padding: 0 0 0 0;
    }
    /*index*/
    .index h1 {
      /*text-align: center;*/
    }
    .index .logo {
      text-align: center;
    }
    .index h2, .index p {
      /*margin: 0 10px;*/
    }
    .index h2 {
      margin-top: 10px;
    }
    .index .highlight {
      padding: 0 10px;
    }
    .index li {
      padding-right: 5px;
    }
    .footer {
      position: relative;
      /*width: 100%;*/
      /*bottom: 0;*/
    }
    .footer h3 span {
      display: block;
    }
    .gotop {
      position: absolute;
      right: 0;
      bottom: 82px;
    }
    /*demo*/
    .demo h1 {
      margin-left: 10px;
    }
    #content .rightbar {
      right: 10px;
      top: 10px;
    }
    /*doc*/
    #menu_icon {
      /*display: block;*/
    }
    .doc {
      float:none;
      width: 100%;
    }
    h1, h2, h3 {
      /*padding-left: 10px;*/
    }
    .mdlist {
      width: 100%;
      position: fixed;
      top: -35px;
      bottom: 0;
    }
    .md ul{padding-left:0;}
    .md .highlight, .md li {
      /*padding: 0 10px;*/
    }
    /*api*/
    .api-w {
      margin-left: 0;
    }
}

@media only screen and (max-width:480px){
	html{-webkit-text-size-adjust:100%}
	body{margin:0;padding:0}
	p{margin:.5em 0}
	h1, h2, h3, h4, h5, h6{padding-top:.5em}
	#sidebar{box-sizing:border-box;padding:12px 16px 30px;width:141px;height:100%;font-family:helvetica, sans-serif;left:auto;right:0px;-webkit-transform:translateX(171px);-moz-transform: translateX(171px);
transform: translateX(171px);-webkit-transition:-webkit-transform 0.2s ease-out;z-index:10001;border-right:none;border-left:1px solid #d4b4ff;background:-webkit-gradient(linear, right top, left top, from(transparent), color-stop(0.92, transparent), color-stop(0.9201, rgba(212, 180, 255, 0.0)), to(rgba(212, 180, 255, 0.3))), #f3eaff;}
	.navigating #sidebar{-webkit-transform:translateX(0);transform: translateX(0);}
	#menu_icon{position:fixed;top:60px;right:5px;font-size:25px;line-height:25px;text-align:center;border-radius:3px;color:#fff;text-shadow:0px -1px rgba(0,0,0,0.5);padding:3px 4px;width:34px;height:34px;box-sizing:border-box;z-index:10000;-webkit-transform:translateX(0px);-webkit-transition:-webkit-transform 0.2s ease-out;}
	.navigating #menu_icon{-webkit-transform:translateX(-140px);}
	a.toc_title{margin-top:.2em}
	ul.toc_section{font-size:13px;line-height:18px}
	.container{margin:12px;max-width:none;-webkit-backface-visibility:hidden;-webkit-perspective:1000;-webkit-transform:translateX(0px);-webkit-transition:-webkit-transform 0.2s ease-out;transform: translateX(0px);-moz-transform: translateX(0px);}
	.navigating .container{-webkit-transform:translateX(-140px);}
	img[src^=logo]{max-width:250px}
	article{margin-bottom:12px;}
	article.method h3{padding-top:10px}
	article.method p{margin:.2em 0}
	article.method pre{margin:0;white-space:pre-wrap}
	pre{padding:2px 8px}
}

@media only screen and (max-width:568px) and (orientation:landscape){
	html{-webkit-text-size-adjust:100%}
	#menu_icon{display:none;}
	#sidebar{width:135px;padding:0 15px;}
	.container{max-width:568px;margin:30px 10px 50px 175px;}
	ul.toc_section li{font-size:15px;line-height:20px}
}

@media only screen and (min-width:569px) and (max-width:767px){
	html{-webkit-text-size-adjust:100%}
	#sidebar{width:135px;padding:0 15px;}
	.container{max-width:100%;margin:0px 10px 50px 175px;}
	ul.toc_section li{font-size:15px;line-height:20px}
}